.jumbotron {
	background-color: #5F9EA0;
	color: white;
	margin-top: 10px;
}


footer {
	padding: 10px 10px 10px 10px;
	background-color: black;
	color: white;
	margin-bottom: 0px;
	margin-top: 20px;
}

.card-hotel {
	flex: 1 200px; /*cuanto queremos que crezca el elemnto y de cuanto será el ancho*/
	/*padding: 2px 0px 2px 0px; /*top, right, boton, left*/
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.navbar-collapse>a {
display: inline-block;
}